@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-primary-dark: #4338CA;
  --color-secondary: #14B8A6;
  --color-success: #22C55E;
  --color-danger: #EF4444;
  --color-warning: #F59E0B;
  --color-surface: #F8FAFC;
}